* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-size: 10px;
    font-family: Helvetica, sans-serif, arial;
    background-image: url(/Images/Background-Image.jpeg);
    background-size: cover;
    color: #fff;
}

.active-page {
    background-color: #07e1f5;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: rgba(51, 51, 51);
    border-left: 2px solid rgba(225, 225, 225, .09);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(-45deg, #07e1f5, #ff328e);
    border-radius: 100vw;
    border: rgba(51, 51, 51);
}

.navbar-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 4rem;
    background: rgba(51, 51, 51, .25);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    box-shadow: 0 8px 32px #07e1f5;
    border-bottom: 2px solid rgba(225, 225, 225, .09);
    justify-content: space-between;
    align-items: center;
}

/* name/logo */
.name-logo {
    font-size: 1.9rem;
    padding: 0.9rem 0 1rem 1rem;
    color: #07e1f5;
}

/* navbar */
.navbar-links ul {
    list-style: none;
    display: flex;
    font-size: 1.3rem;
}

.navbar-links li {
    margin-left: 0.3rem;
}

.navbar-links li a {
    padding: 1rem;
    text-decoration: none;
    color: #fff;
    transition: all 0.2s linear;
    border-radius: 0.5rem;
}

.navbar-links li a:hover {
    background-color: #ff328e;
}

/* social links */
.social-links {
    padding: 1rem;
}

.social-links a {
    font-size: 1.3rem;
    padding: 0.6rem;
    border-radius: 0.5rem;
    transition: all 0.2s linear;
    border: 0.15rem solid rgba(225, 225, 225, .09);
    margin-left: 0.3rem;
    color: #fff;
}

.social-links a:first-child {
    padding: 0.6rem 0.89rem;
}

.social-links a:nth-child(3) {
    padding: 0.6rem 0.7rem;
}

.social-links a:last-child {
    padding: 0.6rem 0.7rem;
}

.social-links a:hover {
    background: #ff328e;
    text-shadow: 0 0 5px #000;
}

/* about me */
.about-container {
    display: flex;
    width: 80vw;
    margin: auto;
    background: rgba(51, 51, 51, .35);
    border: rgba(225, 225, 225, .09);
    backdrop-filter: blur(6px);
    margin-top: 5rem;
    border-radius: 0.5rem;
    position: relative;
}

.about-content h2 {
    font-size: 2rem;
    padding: 2rem 2rem 0 2rem;;
}

.about-image {
    font-family: Lobster;
    font-size: 10rem;
    padding: 2.8rem 4rem 4rem 3.5rem;
    background: #07e1f5;
    border-radius: 50%;
    position: absolute;
    top: 3rem;
    right: 9rem;
}

.about-content p {
    width: 45%;
    font-size: 1rem;
    padding: 0 2rem 0 2rem;
    margin-top: 1rem;
}

.poppins {
    font-family: poppins;
}

.about-content h3 {
    font-size: 1.8rem;
    padding: 0 2rem 2rem 2rem;
    overflow: hidden;
}

.typed-text {
    color: #07e1f5;
}

.cursor {
    display: inline-block;
    width: 3px;
    background-color: #fff;
    margin-left: 0.1rem;
    animation: blink 1s infinite;
}

.typing {
    animation: none;
}

@keyframes blink {
    0% {background-color: #fff;}
    49% {background-color: #fff;}
    50% {background-color: transparent;}
    99% {background-color: transparent;}
    100% {background-color: #fff;}
}

/* about - icons */

.coding-icons {
    font-size: 2rem;
    padding: 2rem;
    display: flex;
    align-items: center;
}

.coding-icons i {
    margin-right: 1rem;
    margin-left: 0.8rem;
}

.coding-icons .html-logo {
    width: 3rem;
}

.coding-icons .css-logo {
    width: 3rem;
}

.coding-icons i:nth-child(3) {
    position: relative;
    color: #f0db4f;
    font-size: 2.1rem;
}

.coding-icons i:nth-child(3) span {
    background: #000;
    width: 70%;
    height: 60%;
    position: absolute;
    bottom: 10%;
    right: 5%;
    z-index: -1;
}

.coding-icons .php-logo {
    width: 3rem;
}

.coding-icons .node-logo {
    width: 3rem;
    margin-left: 0.8rem;
    margin-right: 0.2rem;
}

.coding-icons i:nth-child(6) {
    color: #61dbfb;
    width: 2rem;
    margin-right: 0.7rem;
}

.coding-icons .git-logo {
    width: 3rem;
    margin-right: 0.7rem;
}

.projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin: auto;
    height: 1000px; /* placeholder height */
    justify-content: center;
    margin-top: 5rem;
    perspective: 1000px;
    background: #333; /* placeholder background */
}

.projects-title {
    font-size: 3rem;
    text-decoration: underline;
    text-decoration-color: #07e1f5;
}